@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$navy: #10102d;
$white: #fbfbfb;
$mastodonGray: rgb(25,27,34);
$lightBlue: #7cc4e6;

body { margin: 0; padding: 0; }

.open-sans { font-family: 'Open Sans', sans-serif; }
.mx-auto { margin-left: auto; margin-right: auto; }

.navy-bg { background-color: $navy; }
.mastodon-gray-bg { background-color: $mastodonGray; }
.white { color: $white; }

.custom-toot-content {
  p { margin: 0; }

  a {
    color: $lightBlue;
    text-overflow: ellipsis;
    max-width: 230px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
  }
}

