@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

$navy: #050b34;
$white: #fbfbfb;

body { margin: 0; padding: 0; }

.open-sans { font-family: 'Open Sans', sans-serif; }
.mx-auto { margin-left: auto; margin-right: auto; }

.navy-bg { background-color: $navy; }
.white { color: $white; }

